pytest
pylint
coverage
pytest-cov
decorators
mock~=4.0.3

pip~=21.2.4
py~=1.10.0
setuptools~=57.4.0
google~=3.0.0
google-auth-httplib2==0.1.0
google-auth==2.0.0
google-api-python-client==2.22.0
google-auth-oauthlib==0.4.1
colorama~=0.4.4